body{
padding: 0px 30px;
justify-content: space-between;
background-color: rgb(34, 33, 33);
}
.nav{
  width: 600px;
  margin-right: 50px;
  gap: 8px;
justify-content: end;

  
}

.nav li{
  list-style: none;
  
  align-items: center;
 
  


}
.nav li a{
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  color: rgb(65, 60, 59);
  font-variant-caps: petite-caps;
  
}
.hearder{
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background:"linearGradient(['50deg', 'rgba(255, 25, 0, 0.962)' ,'rgb(159, 255, 4)'])", */
}
button{
  padding: 6px 22px ;
  font-size: 18px;
background-color: transparent;
border: 1px solid rgb(202, 67, 14);
color: rgb(103, 103, 104);
}
.lorem{
  font-size: 15px !important;
  font-weight: 300 !important;
  display: block;
}
.addTocard{
  position: absolute;
  right: -20px;
  bottom: 30px;
  padding: 8px 15px;
  border: none;
  background-color: red;
  color: white;
  font-size: 12px;
}
.shere{
  width: 80px;
  height: 150px;
  position: absolute;
  margin-top: 20px;
  text-align: center;
}
.shere a{
  display: block;
  margin-bottom: 10px;
}
.first{
  color: rgb(147, 142, 142);
  text-align: center;
  font-weight: 400;
 margin-bottom: 10px;
  
}
.shere a i{
  color: rgb(147, 142, 142);
  text-align: center;
  font-weight: 400;

}
